body {
width: 98.9583%;/*1900px*/
max-width: 1920px;
max-height: 1080px;
min-width: 800px;
margin: 0.6% 0.520833%;
font-size: medium;
line-height: 135%;
}




.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}

#titleBlock{
		text-align: center;
}

#title {
	color: #009de4;
	display: inline-block;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(146, 148, 150, 1);
}

#rules,
#messages,
#choice,
#user-input {
	width: 300px;
	height: 100%;
	padding: 1em;
	margin-top:43px;
	margin-right: 4em;
	margin-left: 4em;
	border:1px solid #009de4;
	border-radius: 3px;
	webkit-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 19px 0px rgba(0,0,0,0.75);
}

#messages,
#user-input,
#btnReplay {
	display: none;
}

#user-input {
	order: 2;
}

#messageArea {
	color: rgb(83, 175, 19);
	text-align: center;
	padding: 2.5px 5px;
	font-size: 36px;
	line-height: 1em;
}

#board {
	float:right;
	display: block;
	width: 800px;
	height: 800px;
	margin-right: 8%;
	margin-left: 1%;
	background-image: url("../images/board.png");
	display: none;
}

table {
	position: relative;
	border-spacing: 0px;
	top: 42px;
	left: 87px;
	cursor : url("../images/gun-pointer.png"), default;
}
td {
	width: 66px;
	height: 66px;
	border: 1px solid #009de4;
}

.miss {
  background: url("../images/splash.png") no-repeat center center;
}

.hit {
  background: url("../images/sailboat.png") no-repeat center center;
}
